<div class="col col-4 col-d-12">
  <div class="widget-footer widget-recent-posts">
    <h3 class="widget-title">Neuste Artikel</h3>
    {{ $counter := 0 }}
    {{ range ( where site.RegularPages "Section" "posts" | first 2 ) }}
    {{ $counter = add $counter 1 }}
    <div class="recent-posts">

      {{ if .Params.Image }}
      <div class="article__head">
        <a href="{{ .RelPermalink }}" class="recent-posts__image" aria-hidden="true" tabindex="-1">
          {{ if and (.Params.image) (.Params.video_embed) }}
          <div class="video-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
              <polygon points="40,30 70,50 40,70"></polygon>
            </svg>
          </div>
          {{ end }}
          <img class="lazy" data-src="{{.Params.Image | absURL }}" alt="{{ .Title }}">
        </a>
      </div>
      {{ end }}

      <div class="recent-posts__content">

        <div class="article__meta">
          {{ if .Params.tags }}
          <div class="article__tags">
          {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}" class="article__tag">{{ .LinkTitle }}</a>
          {{ end }}
          </div>
          {{ end }}
          <span class="article__date">•<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2 Jan, 2006" }}</time></span>
        </div>

        <h4 class="recent-posts__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>

        <div class="article__info">
        {{ if .Params.authors }}
          {{ range first 1 .Params.authors }}
            {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
            By <a class="article__author__name" href="{{ .Permalink }}">{{ .Params.name }}</a>
            {{ end }}
          {{ end }}
        {{ end }}
        </div>

      </div>
    </div>
    {{ end }}
  </div>
</div>