<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body {{ if .IsHome }}class="home-page"{{ end }}>

  {{ template "_internal/google_analytics.html" . }}

  <!-- begin global wrap -->
  <div class="global-wrap">

    {{ partial "header.html" . }}
  
    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ block "main" . }}{{ end }}
    </main>
    <!-- end content -->

    {{ partial "footer.html" . }}
  </div>
  <!-- end global wrap -->

  {{ partial "javascripts.html" . }}

</body>

</html>