<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="footer__inner">
          <div class="row">
            {{ partial "footer-widgets/widget-info.html" . }}

            {{ partial "footer-widgets/widget-subscribe.html" . }}
          </div>
        </div>

        <div class="footer__info">
          <div class="copyright">{{ dateFormat "2006" now }} &copy; <a href="/">{{ .Site.Title }}</a>. Alle Rechte sind vorbehalten.</div>
          <div class="footer__info__right">
            {{ if or (eq .Site.Params.color_scheme "light") (eq .Site.Params.color_scheme "dark") }}
            {{ else }}
            <div class="toggle-theme">
              <div class="toggle-moon" title="Enable dark mode" aria-hidden="true"><i class="ion ion-ios-moon"></i> <span class="toggle-text">Dark</span></div>
              <div class="toggle-sun" title="Enable light mode" aria-hidden="true"><i class="ion ion-ios-sunny"></i> <span class="toggle-text">Light</span></div>
            </div>
            {{ end }}
            <div class="top" title="Top"><i class="ion-md-arrow-round-up"></i> <span class="top__text">Zum Anfang</span></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- end footer -->