{{ if (.Site.Params.hero.enable) }}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          {{ if .Site.Params.hero.hero__title }}
            <h1 class="hero__title">{{ .Site.Params.hero.hero__title }}</h1>
          {{ end }}
          {{ if .Site.Params.hero.hero__description }}
            <p class="hero__description">{{ .Site.Params.hero.hero__description }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
{{ end }}