{{ define "main" }}

<!-- begin page -->
<div class="container">
  <article class="page">
    <div class="page__content">
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="error">
              <h2 class="error__title">404</h2>
              <p class="error__text">Die angefragte Seite existiert entweder nicht oder 
                ist zum jetzigen Zeitpunkt nicht aufrufbar. Sollte dieser Fehler weiter bestehen, und Sie
              sind sich sicher das dies ein Fehler ist kontaktieren Sie uns gerne.</p>
              <a class="button button--big" href="/">Zurück zur Startseite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
<!-- end page -->

{{ end }}